<mat-sidenav-container class="padding">
    <mat-sidenav-content>
        <h2>
            Lines
        </h2>

        <app-line-list [selectedId]="selectedId"></app-line-list>

        <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>

    </mat-sidenav-content>

    <mat-sidenav mode="side" position="end" [opened]="showMap">
        <app-map></app-map>
    </mat-sidenav>
</mat-sidenav-container>
