<mat-sidenav-container class="padding">
    <mat-sidenav-content>
        <h2>
            Stations

            <div id="search-bar">
                <mat-form-field class="example-form-field">
                    <input matInput type="search" placeholder="Search" [(ngModel)]="search">
                    <button mat-button [disabled]="!search" matSuffix mat-icon-button aria-label="Clear"
                            (click)="reset()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </h2>

        <app-station-list [search]="search" [resize]="resize"></app-station-list>

        <router-outlet (deactivate)="onDetailsDeactivate($event)"></router-outlet>

    </mat-sidenav-content>

    <mat-sidenav mode="side" position="end" [opened]="displayedStations.length > 0">
        <app-map></app-map>
    </mat-sidenav>
</mat-sidenav-container>
