@import "../../../variables";

:host {
    width: 100%;
}

h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    #search-bar {
        border-bottom: 2px solid @color-primary;
        border-left: 6px solid @color-primary;
        margin-top: 0 - @vertical-spacing;
        margin-right: 0 - @horizontal-spacing;
        padding-top: @vertical-spacing;
        padding-right: @horizontal-spacing;
        padding-left: 4 * @horizontal-spacing;
        border-bottom-left-radius: 20px;

        mat-form-field.mat-form-field-appearance-legacy {
            font-size: medium;
        }
    }
}

mat-sidenav-content {
    display: flex;
    flex-direction: column;
}

mat-sidenav {
    width: 400px;
}

app-station-list {
    display: flex;
    flex: 1;
}
