@import "../../../variables";

:host {
    padding: 0 @horizontal-spacing;
}

.connections-container {
    margin-bottom: 30px; // = picto height; to avoid it being cut at the bottom of the page
}

button, app-line-picto:hover {
    cursor: pointer;
}

.label {
    margin-right: @vertical-spacing;
}

button mat-icon {
    margin-bottom: 4px; // fix for apparent vertical alignment
}

h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
