<ng-container *ngIf="(station$ | async) as station">
    <mat-divider></mat-divider>
    <h3>
        Details for station {{station.id}}
        <button mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </h3>
    <mat-list>
        <mat-list-item>
            <span class="label">Name :</span>
            {{station.name}}
        </mat-list-item>
        <mat-list-item>
            <span class="label">Coords :</span>
            {{station.coords.lat}} / {{station.coords.lng}}
            <button mat-icon-button (click)="showOnMap(station)">
                <mat-icon>{{displayedStationsOnMap.indexOf(station.id) > -1 ? 'location_on' : 'location_off'}}
                </mat-icon>
            </button>
        </mat-list-item>
        <mat-list-item class="connections-container">
            <span class="label">Connections :</span>
            <app-line-picto *ngFor="let connection of (connections$ | async)" [picto]="connection.picto"
                            (click)="goToLine(connection)"></app-line-picto>
        </mat-list-item>
    </mat-list>
</ng-container>
