@import "../../variables";

:host {
  width: 100%;
  align-self: center;
  text-align: center;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
        margin-right: @horizontal-spacing;
    }
  }

  button {
      margin: @horizontal-spacing;
  }
}
