<cdk-virtual-scroll-viewport itemSize="50" class="mat-list mat-list-base">
    <ng-container *ngIf="(stations$ | async | sortStationsByName | filterStationsByName:search) as stations">
        <mat-list-item *cdkVirtualFor="let station of stations" role="listitem"
                       [ngClass]="{'active' : station.id === selectedId}">
            <div class="list-item-text" (click)="showDetails(station)">
                {{station.name}}
            </div>
            <button mat-icon-button (click)="selectedStation(station)">
                <mat-icon>{{displayedStationsOnMap.indexOf(station.id) > -1 ? 'location_on' : 'location_off'}}
                </mat-icon>
            </button>
        </mat-list-item>
        <p class="no-stations" *ngIf="!stations.length">Aucune station disponible</p>
    </ng-container>
</cdk-virtual-scroll-viewport>
