mat-list {
    overflow: scroll;
    height: inherit;
    width: 100%;
}

mat-list-item {
    &:hover {
        background-color: rgba(240, 240, 240, 0.7);
    }

    .list-item-text {
        flex: 1;

        &:hover {
            cursor: pointer;
        }
    }

    button:hover {
        cursor: pointer;
    }
}

P.no-stations {
    font-style: italic;
    color: #777777;
}

cdk-virtual-scroll-viewport {
    height: inherit;
    width: 100%;
}
