<mat-list role="list">
    <mat-list-item *ngFor="let line of (lines$ | async)" role="listitem"
                   [ngClass]="{'active' : line.id === selectedId}">
        <app-line-picto [picto]="line.picto"></app-line-picto>
        <div class="list-item-text" (click)="showDetails(line)">
            {{line.name}}
        </div>
    </mat-list-item>
</mat-list>
