@import "../../../../variables";

@picto-size: 30px;

.line-picto {
    margin-right: @horizontal-spacing;
    border: 4px solid black;
    background-color: deepskyblue;
    border-radius: 50%;
    font-weight: bolder;
    height: @picto-size;
    width: @picto-size;
    text-align: center;
    line-height: @picto-size;
    overflow: hidden;
}
