<ng-container *ngIf="(line$ | async) as line">
    <mat-divider></mat-divider>
    <h3>Details for line {{line.id}}</h3>
    <p>Name : {{line.name}}</p>
    <p>Stations : {{line.stations.length}}</p>

    <app-synoptic *ngIf="(stationsWithConnections$ | async) as stations"
                  [stationsWithConnections]="stations"></app-synoptic>
</ng-container>
