@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";
@import "~leaflet/dist/leaflet.css";

a.active, mat-list-item.active{
  color: #3f51b5 !important;
  background-color: rgba(124, 124, 124, 0.2) !important;
}

mat-sidenav-container.padding {
    height: 100%;

    mat-sidenav-content {
        padding: @vertical-spacing @horizontal-spacing;
        height: calc(~'100% - 2 * @{vertical-spacing}');
    }
}
